<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Guilherme's Portfolio</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: 'Fira Code', monospace;
      background-color: #f3e7dd;
      color: #4e3b31;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 2rem;
      background-color: #eedac8;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    }

    nav a {
      color: #5c4033;
      text-decoration: none;
      margin: 0 1rem;
      font-weight: bold;
      font-size: 1rem;
    }

    nav a:hover {
      color: #4e3b31;
    }

    h1 {
      font-size: 6rem;
      margin: 2rem 0 0.5rem 0;
      color: #8c5a4a;
      font-weight: bold;
      opacity: 0; /* Inicialmente invisível */
      transform: translateY(20px); /* Deslocado para baixo */
      animation: fadeSlideIn 1.5s ease-out forwards; /* Aplica a animação */
    }

    @keyframes fadeSlideIn {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    h2 {
      font-size: 1.2rem;
      color: #5c4033;
      margin-top: 1rem;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    p {
      max-width: 600px;
      margin: 0 auto;
      line-height: 1.8;
      color: #704c3c;
      font-size: 1rem;
    }

    a {
      color: #8c5a4a;
      text-decoration: none;
      font-weight: bold;
      font-size: 0.9rem;
    }

    a:hover {
      color: #5c4033;
    }

    footer {
      margin-top: 100px;
      font-size: 0.8rem;
      color: #704c3c;
    }

    .projects {
      margin-top: 2rem;
    }

    .project {
      background-color: #eedac8;
      padding: 1rem;
      margin: 1rem;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body>
  <nav>
    <a href="https://github.com/kill74">Github</a>
		<a href="https://www.linkedin.com/in/guilherme-sales-35a580299/">Linkedin</a>
  </nav>

  <h1>Guilherme</h1>
  <br>  <br>  <br>  <br>  
  <section>
    <h2>About</h2>
		<p>Atualmente, estou no 2º ano da Licenciatura em Desenvolvimento Web e Multimédia, buscando oportunidades para aplicar meus conhecimentos e crescer profissionalmente.<br> Tenho 19 anos e sou apaixonado por tecnologia, design e criação de experiências digitais.</p>
    <p><a href="#moreinfo">More info...</a></p>
  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>
  <footer>
    <p>Made by Guilherme © 2024</p>
  </footer>
</body>
</html>
